<!-- footer top start -->
      <!-- ================ -->
      <!-- section start -->
      <!-- ================ -->
      <section class="section pv-40 parallax background-img-1 dark-translucent-bg" style="background-position:50% 60%;">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="call-to-action text-center">
                <div class="row">
                  <div class="col-sm-8 col-sm-offset-2">
                    <h2 class="title">Souscrire a notre Newsletter</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus error pariatur deserunt laudantium nam, mollitia quas nihil inventore, quibusdam?</p>
                    <div class="separator"></div>
                    <form class="form-inline margin-clear">
                      <div class="form-group has-feedback">
                        <label class="sr-only" for="subscribe2">Email</label>
                        <input type="email" class="form-control" id="subscribe2" placeholder="Enter email" name="subscribe2" required="">
                        <i class="fa fa-envelope form-control-feedback"></i>
                      </div>
                      <button type="submit" class="btn btn-gray-transparent btn-animated margin-clear">Envoyer<i class="fa fa-send"></i></button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="clearfix"></div>
      <!-- section end -->
      <!-- section start -->
      <!-- ================ -->
      <section class="section pv-40  parallax stats padding-bottom-clear dark-translucent-bg hovered background-img-1" style="background-position: 50% 60%;">
        <div class="clearfix">
          <div class="col-md-3 col-xs-6 text-center">
            <div class="feature-box object-non-visible" data-animation-effect="fadeIn" data-effect-delay="300">
              <span class="icon default-bg circle"><i class="fa fa-diamond"></i></span>
              <h3><strong>Diplomés</strong></h3>
              <span class="counter" data-to="1500" data-speed="50">0</span>
            </div>
          </div>
          <div class="col-md-3 col-xs-6 text-center">
            <div class="feature-box object-non-visible" data-animation-effect="fadeIn" data-effect-delay="300">
              <span class="icon default-bg circle"><i class="fa fa-users"></i></span>
              <h3><strong>Departements</strong></h3>
              <span class="counter" data-to="15" data-speed="50">0</span>
            </div>
          </div>
          <div class="col-md-3 col-xs-6 text-center">
            <div class="feature-box object-non-visible" data-animation-effect="fadeIn" data-effect-delay="300">
              <span class="icon default-bg circle"><i class="fa fa-cloud-download"></i></span>
              <h3><strong>Eleves</strong></h3>
              <span class="counter" data-to="12250" data-speed="50">0</span>
            </div>
          </div>
          <div class="col-md-3 col-xs-6 text-center">
            <div class="feature-box object-non-visible" data-animation-effect="fadeIn" data-effect-delay="300">
              <span class="icon default-bg circle"><i class="fa fa-share"></i></span>
              <h3><strong>Professeurs</strong></h3>
              <span class="counter" data-to="55" data-speed="50">0</span>
            </div>
          </div>
        </div>
      </section>
      <!-- footer top end -->
      <!-- footer start (Add "dark" class to #footer in order to enable dark footer) -->
      <!-- ================ -->
      <footer id="footer" class="clearfix ">

        <!-- .footer start -->
        <!-- ================ -->
        <div class="footer">
          <div class="container">
            <div class="footer-inner">
              <div class="row">
                <div class="col-md-3">
                  <div class="footer-content">
                    <h2 class="title logo-font text-default">Le College</h2>
                    <div class="separator-2"></div>
                    <nav class="mb-20">
                      <ul class="nav nav-pills nav-stacked list-style-icons">
                        <li><a href="#"><i class="fa fa-chevron-circle-right"></i> Lorem ipsum dolor sit</a></li>
                        <li><a href="#"><i class="fa fa-chevron-circle-right"></i>  Consectetur adipisicing elit</a></li>
                        <li><a href="#"><i class="fa fa-chevron-circle-right"></i> Rerum iure temporibus</a></li>
                      </ul>
                    </nav>
                    <h4 class="title text-default"><i class="fa fa-wechat pr-10"></i> Consectetur adipisicing</h4>
                    <nav class="mb-20">
                      <ul class="nav nav-pills nav-stacked list-style-icons">
                        <li><a href="#"><i class="fa fa-chevron-circle-right"></i> Repudiandae porro doloribus</a></li>
                        <li><a href="#"><i class="fa fa-chevron-circle-right"></i> Amet culpa</a></li>
                        <li><a target="_blank" href="http://revovision.ca"><i class="fa fa-chevron-circle-right"></i> Atque vero laudantium</a></li>
                        <li><a href="#"><i class="fa fa-chevron-circle-right"></i> Loat dolot aspree</a></li>
                      </ul>
                    </nav>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="footer-content">
                    <h4 class="title text-default"><i class="fa fa-search pr-10"></i> Ressources</h4>
                    <nav class="mb-20">
                      <ul class="nav nav-pills nav-stacked list-style-icons">
                        <li><a href="#"><i class="fa fa-chevron-circle-right"></i> Vel consequatur</a></li>
                        <li><a href="#"><i class="fa fa-chevron-circle-right"></i> Provident obcaecati</a></li>
                        <li><a href="#"><i class="fa fa-chevron-circle-right"></i> Illo perspiciatis</a></li>
                        <li><a href="#"><i class="fa fa-chevron-circle-right"></i> acilis maiores</a></li>
                        <li><a href="#"><i class="fa fa-chevron-circle-right"></i> Enim modi</a></li>
                      </ul>
                    </nav>
                    <h4 class="title text-default"><i class="fa fa-users pr-10"></i> Staff/Faculte</h4>
                    <nav class="mb-20">
                      <ul class="nav nav-pills nav-stacked list-style-icons">
                        <li><a href="#"><i class="fa fa-chevron-circle-right"></i> acilis maiores</a></li>
                        <li><a href="#"><i class="fa fa-chevron-circle-right"></i> Enim modi</a></li>
                        <li><a target="_blank" href="http://revovision.ca"><i class="fa fa-chevron-circle-right"></i> Support</a></li>
                      </ul>
                    </nav>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="footer-content">
                    <h4 class="title text-default"><i class="fa fa-file-text-o pr-10"></i> Admissions</h4>
                    <nav class="mb-20">
                      <ul class="nav nav-pills nav-stacked list-style-icons">
                        <li><a href="#"><i class="fa fa-chevron-circle-right"></i> Facilis maiores</a></li>
                        <li><a href="#"><i class="fa fa-chevron-circle-right"></i> Provident obcaecati</a></li>
                        <li><a href="#"><i class="fa fa-chevron-circle-right"></i> Vel consequatur</a></li>
                        <li><a target="_blank" href="http://revovision.ca"><i class="fa fa-chevron-circle-right"></i> Support</a></li>
                      </ul>
                    </nav>
                    <h4 class="title text-default"><i class="fa fa-child pr-10"></i> Etudiants</h4>
                    <nav class="mb-20">
                      <ul class="nav nav-pills nav-stacked list-style-icons">
                        <li><a href="#"><i class="fa fa-chevron-circle-right"></i> Illo perspiciatis</a></li>
                        <li><a href="#"><i class="fa fa-chevron-circle-right"></i> Enim modi</a></li>
                        <li><a href="#"><i class="fa fa-chevron-circle-right"></i> Privacy</a></li>
                        <li><a href="#"><i class="fa fa-chevron-circle-right"></i> Vel consequatur</a></li>
                      </ul>
                    </nav>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="footer-content">
                    <h4 class="title text-default"><i class="fa fa-institution pr-10"></i>Departements</h4>
                    <nav class="mb-20">
                      <ul class="nav nav-pills nav-stacked list-style-icons">
                        <li><a href="#"><i class="fa fa-chevron-circle-right"></i> Consectetur adipisicing elit</a></li>
                        <li><a href="#"><i class="fa fa-chevron-circle-right"></i> Lorem ipsum dolor sit</a></li>
                        <li><a href="#"><i class="fa fa-chevron-circle-right"></i> Amet culpa</a></li>
                        <li><a href="#"><i class="fa fa-chevron-circle-right"></i> Repudiandae porro doloribus</a></li>
                        <li><a href="#"><i class="fa fa-chevron-circle-right"></i> Rerum iure temporibus</a></li>
                        <li><a target="_blank" href="http://revovision.ca"><i class="fa fa-chevron-circle-right"></i> Atque vero laudantium</a></li>
                      </ul>
                    </nav>
                    <h4 class="title text-default"><i class="fa fa-info-circle pr-10"></i> Informations</h4>
                    <nav class="mb-20">
                      <ul class="nav nav-pills nav-stacked list-style-icons">
                        <li><a href="#"><i class="fa fa-chevron-circle-right"></i> Consectetur adipisicing elit</a></li>
                        <li><a href="#"><i class="fa fa-chevron-circle-right"></i> Lorem ipsum dolor sit</a></li>
                      </ul>
                    </nav>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- .footer end -->

        <!-- .subfooter start -->
        <!-- ================ -->
        <div class="subfooter default-bg">
          <div class="container">
            <div class="subfooter-inner">
              <div class="row">
                <div class="col-md-12">
                  <p class="text-center"><span class="logo-font pr-10">University  College</span> Copyright © 2016 The Project by <a class="link-light" target="_blank" href="http://www.revovision.ca/">REVOVISION</a>. All Rights Reserved</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- .subfooter end -->

      </footer>
      <!-- footer end -->