<!-- header-container start -->
      <div class="header-container">
        
        <!-- header-top start -->
        <!-- classes:  -->
        <!-- "dark": dark version of header top e.g. class="header-top dark" -->
        <!-- "colored": colored version of header top e.g. class="header-top colored" -->
        <!-- ================ -->
        <div class="header-top  colored">
          <div class="container">
            <div class="row">
              <div class="col-xs-2 col-sm-5">
                <!-- header-top-first start -->
                <!-- ================ -->
                <div class="header-top-first clearfix">
                  <ul class="social-links circle small clearfix hidden-xs">
                    <li class="twitter"><a target="_blank" href="http://www.twitter.com"><i class="fa fa-twitter"></i></a></li>
                    <li class="skype"><a target="_blank" href="http://www.skype.com"><i class="fa fa-skype"></i></a></li>
                    <li class="linkedin"><a target="_blank" href="http://www.linkedin.com"><i class="fa fa-linkedin"></i></a></li>
                    <li class="googleplus"><a target="_blank" href="http://plus.google.com"><i class="fa fa-google-plus"></i></a></li>
                    <li class="youtube"><a target="_blank" href="http://www.youtube.com"><i class="fa fa-youtube-play"></i></a></li>
                    <li class="flickr"><a target="_blank" href="http://www.flickr.com"><i class="fa fa-flickr"></i></a></li>
                    <li class="facebook"><a target="_blank" href="http://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
                    <li class="pinterest"><a target="_blank" href="http://www.pinterest.com"><i class="fa fa-pinterest"></i></a></li>
                  </ul>
                  <div class="social-links hidden-lg hidden-md hidden-sm circle small">
                    <div class="btn-group dropdown">
                      <button type="button" class="btn dropdown-toggle" data-toggle="dropdown"><i class="fa fa-share-alt"></i></button>
                      <ul class="dropdown-menu dropdown-animation">
                        <li class="twitter"><a target="_blank" href="http://www.twitter.com"><i class="fa fa-twitter"></i></a></li>
                        <li class="skype"><a target="_blank" href="http://www.skype.com"><i class="fa fa-skype"></i></a></li>
                        <li class="linkedin"><a target="_blank" href="http://www.linkedin.com"><i class="fa fa-linkedin"></i></a></li>
                        <li class="googleplus"><a target="_blank" href="http://plus.google.com"><i class="fa fa-google-plus"></i></a></li>
                        <li class="youtube"><a target="_blank" href="http://www.youtube.com"><i class="fa fa-youtube-play"></i></a></li>
                        <li class="flickr"><a target="_blank" href="http://www.flickr.com"><i class="fa fa-flickr"></i></a></li>
                        <li class="facebook"><a target="_blank" href="http://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
                        <li class="pinterest"><a target="_blank" href="http://www.pinterest.com"><i class="fa fa-pinterest"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <!-- header-top-first end -->
              </div>
              <div class="col-xs-10 col-sm-7">

                <!-- header-top-second start -->
                <!-- ================ -->
                <div id="header-top-second"  class="clearfix text-right">
                  <nav>
                    <ul class="list-inline">
                      <li><a class="link-light " href="#"><i class="fa fa-child pr-5"></i>Admission</a></li>
                      <li class="hidden-sm hidden-xs"><a class="link-light" href="#"><i class="fa fa-info-circle pr-5"></i>Informations</a></li>
                      <li class="hidden-sm hidden-xs"><strong class="pl-5">Nous joindre:</strong> +221 33 854 55 55</li>
                    </ul>
                  </nav>
                </div>
                <!-- header-top-second end -->
              </div>
            </div>
          </div>
        </div>
        <!-- header-top end -->
        
        <!-- header start -->
        <!-- classes:  -->
        <!-- "fixed": enables fixed navigation mode (sticky menu) e.g. class="header fixed clearfix" -->
        <!-- "dark": dark version of header e.g. class="header dark clearfix" -->
        <!-- "full-width": mandatory class for the full-width menu layout -->
        <!-- "centered": mandatory class for the centered logo layout -->
        <!-- ================ --> 
        <header class="header centered fixed    clearfix">
          
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <!-- header-left start -->
                <!-- ================ -->
                <div class="header-left clearfix">

                  <!-- logo -->
                  <div id="logo" class="logo">
                    <a href="/"><img id="logo_img" src="/images/logo_cool_green.png" alt="The Project"></a>
                  </div>

                  
                  
                </div>
                <!-- header-left end -->

              </div>
              <div class="col-md-12">
          
                <!-- header-right start -->
                <!-- ================ -->
                <div class="header-right clearfix">
                  
                <!-- main-navigation start -->
                <!-- classes: -->
                <!-- "onclick": Makes the dropdowns open on click, this the default bootstrap behavior e.g. class="main-navigation onclick" -->
                <!-- "animated": Enables animations on dropdowns opening e.g. class="main-navigation animated" -->
                <!-- "with-dropdown-buttons": Mandatory class that adds extra space, to the main navigation, for the search and cart dropdowns -->
                <!-- ================ -->
                <div class="main-navigation  animated with-dropdown-buttons">

                  <!-- navbar start -->
                  <!-- ================ -->
                  <nav class="navbar navbar-default" role="navigation">
                    <div class="container-fluid">

                      <!-- Toggle get grouped for better mobile display -->
                      <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                          <span class="sr-only">Toggle navigation</span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                        </button>
                        
                      </div>

                      <!-- Collect the nav links, forms, and other content for toggling -->
                      <div class="collapse navbar-collapse" id="navbar-collapse-1">
                        <!-- main-menu -->
                        <ul class="nav navbar-nav ">

                          <!-- mega-menu start -->
                          <li class=" active ">
                            <a href="/">Accueil</a>
                           
                          </li>
                          <!-- mega-menu end -->
                          <!-- mega-menu start -->
                          <li class="dropdown  mega-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Departements</a>
                            <ul class="dropdown-menu">
                              <li>
                                <div class="row">
                                  <div class="col-lg-8 col-md-9">
                                    <h4 class="title">Departements</h4>
                                    <div class="row">
                                      <div class="col-sm-4">
                                        <div class="divider"></div>
                                        <ul class="menu">
                                          <li ><a href="/departement"><i class="fa fa-angle-right"></i>Departement 1</a></li>
                                          <li ><a href="/departement"><i class="fa fa-angle-right"></i>Departement 2</a></li>
                                          <li ><a href="/departement"><i class="fa fa-angle-right"></i>Departement 3</a></li>
                                          <li ><a href="/departement"><i class="fa fa-angle-right"></i>Departement 4</a></li>
                                          <li ><a href="/departement"><i class="fa fa-angle-right"></i>Departement 5</a></li>
                                         
                                        </ul>
                                      </div>
                                      <div class="col-sm-4">
                                        <div class="divider"></div>
                                        <ul class="menu">
                                           <li ><a href="/departement"><i class="fa fa-angle-right"></i>Departement 6</a></li>
                                          <li ><a href="/departement"><i class="fa fa-angle-right"></i>Departement 7</a></li>
                                          <li ><a href="/departement"><i class="fa fa-angle-right"></i>Departement 8</a></li>
                                          <li ><a href="/departement"><i class="fa fa-angle-right"></i>Departement 9</a></li>
                                          <li ><a href="/departement"><i class="fa fa-angle-right"></i>Departement 10</a></li>
                                        </ul>
                                      </div>
                                      <div class="col-sm-4">
                                        <div class="divider"></div>
                                        <ul class="menu">
                                           <li ><a href="/departement"><i class="fa fa-angle-right"></i>Departement 11</a></li>
                                          <li ><a href="/departement"><i class="fa fa-angle-right"></i>Departement 12</a></li>
                                          <li ><a href="/departement"><i class="fa fa-angle-right"></i>Departement 13</a></li>
                                          <li ><a href="/departement"><i class="fa fa-angle-right"></i>Departement 14</a></li>
                                          <li ><a href="/departement"><i class="fa fa-angle-right"></i>Departement 15</a></li>
                                        </ul>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-lg-4 col-md-3 hidden-sm">
                                    
                                    <img src="/images/education-slider.jpg" alt="The Project" style="width: 265px; height: 190px">
                                  </div>
                                </div>
                              </li>
                            </ul>
                          </li>
                          <!-- mega-menu end -->
                        
                          <li>
                            <a href="/about">A propos de nous</a>                          
                          </li>
                          <li>
                            <a href="/blog">Actualités</a>                          
                          </li>
                            
                        
                         
                        </ul>
                        <!-- main-menu end -->
                        
                        <!-- header buttons -->
                        <div class="header-dropdown-buttons">
                          <a href="/contact" class="btn btn-sm hidden-xs btn-default">Nous contacter <i class="fa fa-envelope-o pl-5"></i></a>
                          <a href="mailto:theproject@info.com" class="btn btn-lg visible-xs btn-block btn-default">Nous joindre par email <i class="fa fa-envelope-o pl-5"></i></a>
                        </div>
                        <!-- header buttons end-->
                        <!-- Button trigger modal -->
                        <div class="header-dropdown-buttons">
                          <button class="btn btn-sm hidden-xs btn-default" data-toggle="modal" data-target="#myModal"><i class="fa fa-child pr-5"></i> 
                        Inscription
                        </button>
                        </div>

                        <!-- Modal -->
                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fermer</span></button>
                                <h4 class="modal-title" id="myModalLabel">Modalites d'inscription</h4>
                              </div>
                              <div class="modal-body">
                              <p>Debut des inscriptions: 20 Mars 2018</p><br>
                              <p>Fin des inscriptions: 20 Mai 2018</p><br>
                                <p>Conditions de selection: Nemo architecto debitis dolorum ullam in ut sint, odit maiores eaque explicabo, repellendus minima soluta sunt! Nisi minima blanditiis voluptate, ut atque.</p><br>
                                 <p>Modalites de paiement: Nemo architecto debitis dolorum ullam in ut sint, odit maiores eaque explicabo, repellendus minima soluta sunt! Nisi minima blanditiis voluptate, ut atque.</p><br>
                                <p>Conditions generales:  Quisquam, itaque officiis nisi nam doloribus explicabo possimus, dolorum alias provident maxime temporibus, enim voluptatibus! Molestias, accusantium cum impedit sint velit exercitationem deserunt, corporis magni provident earum, ullam iusto voluptatem iste animi inventore ab cupiditate quod laborum quasi libero doloremque obcaecati eius. Ut, reprehenderit optio unde accusantium quia qui! Debitis delectus corporis aspernatur nemo aut, odio harum ea repellendus quidem, saepe, incidunt? Assumenda deserunt unde minima aspernatur ducimus velit molestiae, minus eius inventore, dolore temporibus odio distinctio optio.</p>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-sm btn-dark" data-dismiss="modal">Fermer</button>
                                <button type="button" class="btn btn-sm btn-default"><a href="/contact" target="blank">Contactez-nous</a></button>
                              </div>
                            </div>
                          </div>
                        </div>
                        
                      </div>

                    </div>
                  </nav>
                  <!-- navbar end -->

                </div>
                <!-- main-navigation end -->
                </div>
                <!-- header-right end -->
          
              </div>
            </div>
          </div>
          
        </header>
        <!-- header end -->
      </div>
      <!-- header-container end -->