---
layout: default
---
<!-- breadcrumb start -->
<!-- ================ -->
<div class="breadcrumb-container">
	<div class="container">
		<ol class="breadcrumb">
			<li><i class="fa fa-home pr-10"></i><a href="index.html">Home</a></li>
			<li class="active">Blog</li>
		</ol>
	</div>
</div>
<!-- breadcrumb end -->

<!-- main-container start -->
<!-- ================ -->
<section class="main-container">

	<div class="container">
		<div class="row">

			<!-- main start -->
			<!-- ================ -->
			<div class="main col-md-12">

				<!-- page-title start -->
				<!-- ================ -->
				<h1 class="page-title">Blog</h1>
				<div class="separator-2"></div>
				<!-- page-title end -->

				<!-- masonry grid start -->
				<!-- ================ -->
				<div class="masonry-grid row">
					
					<!-- masonry grid item start -->
					<div class="masonry-grid-item col-sm-6 col-md-4">
						<!-- blogpost start -->
						<article class="blogpost shadow light-gray-bg bordered">
							<div class="overlay-container">
								<img src="/images/blog-2.jpg" alt="">
								<a class="overlay-link" href="blog-post.html"><i class="fa fa-link"></i></a>
							</div>
							<header>
								<h2><a href="blog-post.html">Titre de l'article</a></h2>
								<div class="post-info">
									<span class="post-date">
										<i class="icon-calendar"></i>
										<span class="day">10</span>
										<span class="month">May 2018</span>
									</span>
									<span class="submitted"><i class="icon-user-1"></i> by <a href="#">John Doe</a></span>
									<span class="comments"><i class="icon-chat"></i> <a href="#">22 comments</a></span>
								</div>
							</header>
							<div class="blogpost-content">
								<p>Mauris dolor sapien, malesuada at interdum ut, hendrerit eget lorem. Nunc interdum mi neque, et  sollicitudin purus fermentum ut. Suspendisse faucibus nibh odio, a vehicula eros pharetra in. Maecenas  ullamcorper commodo rutrum. In iaculis lectus vel augue eleifend dignissim. Aenean viverra semper sollicitudin.</p>
							</div>
							<footer class="clearfix">
								<div class="tags pull-left"><i class="icon-tags"></i> <a href="#">tag 1</a>, <a href="#">tag 2</a>, <a href="#">long tag 3</a></div>
								<div class="link pull-right"><i class="icon-link"></i><a href="#">Voir plus More</a></div>
							</footer>
						</article>
						<!-- blogpost end -->									
					</div>
					<!-- masonry grid item end -->
					<!-- masonry grid item start -->
					<div class="masonry-grid-item col-sm-6 col-md-4">
						<!-- blogpost start -->
						<article class="blogpost shadow light-gray-bg bordered">
							<div class="overlay-container">
								<img src="/images/blog-2.jpg" alt="">
								<a class="overlay-link" href="blog-post.html"><i class="fa fa-link"></i></a>
							</div>
							<header>
								<h2><a href="blog-post.html">Titre de l'article</a></h2>
								<div class="post-info">
									<span class="post-date">
										<i class="icon-calendar"></i>
										<span class="day">10</span>
										<span class="month">May 2018</span>
									</span>
									<span class="submitted"><i class="icon-user-1"></i> by <a href="#">John Doe</a></span>
									<span class="comments"><i class="icon-chat"></i> <a href="#">22 comments</a></span>
								</div>
							</header>
							<div class="blogpost-content">
								<p>Mauris dolor sapien, malesuada at interdum ut, hendrerit eget lorem. Nunc interdum mi neque, et  sollicitudin purus fermentum ut. Suspendisse faucibus nibh odio, a vehicula eros pharetra in. Maecenas  ullamcorper commodo rutrum. In iaculis lectus vel augue eleifend dignissim. Aenean viverra semper sollicitudin.</p>
							</div>
							<footer class="clearfix">
								<div class="tags pull-left"><i class="icon-tags"></i> <a href="#">tag 1</a>, <a href="#">tag 2</a>, <a href="#">long tag 3</a></div>
								<div class="link pull-right"><i class="icon-link"></i><a href="#">Voir plus More</a></div>
							</footer>
						</article>
						<!-- blogpost end -->									
					</div>
					<!-- masonry grid item end -->
					<!-- masonry grid item start -->
					<div class="masonry-grid-item col-sm-6 col-md-4">
						<!-- blogpost start -->
						<article class="blogpost shadow light-gray-bg bordered">
							<div class="overlay-container">
								<img src="/images/blog-2.jpg" alt="">
								<a class="overlay-link" href="blog-post.html"><i class="fa fa-link"></i></a>
							</div>
							<header>
								<h2><a href="blog-post.html">Titre de l'article</a></h2>
								<div class="post-info">
									<span class="post-date">
										<i class="icon-calendar"></i>
										<span class="day">10</span>
										<span class="month">May 2018</span>
									</span>
									<span class="submitted"><i class="icon-user-1"></i> by <a href="#">John Doe</a></span>
									<span class="comments"><i class="icon-chat"></i> <a href="#">22 comments</a></span>
								</div>
							</header>
							<div class="blogpost-content">
								<p>Mauris dolor sapien, malesuada at interdum ut, hendrerit eget lorem. Nunc interdum mi neque, et  sollicitudin purus fermentum ut. Suspendisse faucibus nibh odio, a vehicula eros pharetra in. Maecenas  ullamcorper commodo rutrum. In iaculis lectus vel augue eleifend dignissim. Aenean viverra semper sollicitudin.</p>
							</div>
							<footer class="clearfix">
								<div class="tags pull-left"><i class="icon-tags"></i> <a href="#">tag 1</a>, <a href="#">tag 2</a>, <a href="#">long tag 3</a></div>
								<div class="link pull-right"><i class="icon-link"></i><a href="#">Voir plus More</a></div>
							</footer>
						</article>
						<!-- blogpost end -->									
					</div>
					<!-- masonry grid item end -->
					<!-- masonry grid item start -->
					<div class="masonry-grid-item col-sm-6 col-md-4">
						<!-- blogpost start -->
						<article class="blogpost shadow light-gray-bg bordered">
							<div class="overlay-container">
								<img src="/images/blog-2.jpg" alt="">
								<a class="overlay-link" href="blog-post.html"><i class="fa fa-link"></i></a>
							</div>
							<header>
								<h2><a href="blog-post.html">Titre de l'article</a></h2>
								<div class="post-info">
									<span class="post-date">
										<i class="icon-calendar"></i>
										<span class="day">10</span>
										<span class="month">May 2018</span>
									</span>
									<span class="submitted"><i class="icon-user-1"></i> by <a href="#">John Doe</a></span>
									<span class="comments"><i class="icon-chat"></i> <a href="#">22 comments</a></span>
								</div>
							</header>
							<div class="blogpost-content">
								<p>Mauris dolor sapien, malesuada at interdum ut, hendrerit eget lorem. Nunc interdum mi neque, et  sollicitudin purus fermentum ut. Suspendisse faucibus nibh odio, a vehicula eros pharetra in. Maecenas  ullamcorper commodo rutrum. In iaculis lectus vel augue eleifend dignissim. Aenean viverra semper sollicitudin.</p>
							</div>
							<footer class="clearfix">
								<div class="tags pull-left"><i class="icon-tags"></i> <a href="#">tag 1</a>, <a href="#">tag 2</a>, <a href="#">long tag 3</a></div>
								<div class="link pull-right"><i class="icon-link"></i><a href="#">Voir plus More</a></div>
							</footer>
						</article>
						<!-- blogpost end -->									
					</div>
					<!-- masonry grid item end -->
					<!-- masonry grid item start -->
					<div class="masonry-grid-item col-sm-6 col-md-4">
						<!-- blogpost start -->
						<article class="blogpost shadow light-gray-bg bordered">
							<div class="overlay-container">
								<img src="/images/blog-2.jpg" alt="">
								<a class="overlay-link" href="blog-post.html"><i class="fa fa-link"></i></a>
							</div>
							<header>
								<h2><a href="blog-post.html">Titre de l'article</a></h2>
								<div class="post-info">
									<span class="post-date">
										<i class="icon-calendar"></i>
										<span class="day">10</span>
										<span class="month">May 2018</span>
									</span>
									<span class="submitted"><i class="icon-user-1"></i> by <a href="#">John Doe</a></span>
									<span class="comments"><i class="icon-chat"></i> <a href="#">22 comments</a></span>
								</div>
							</header>
							<div class="blogpost-content">
								<p>Mauris dolor sapien, malesuada at interdum ut, hendrerit eget lorem. Nunc interdum mi neque, et  sollicitudin purus fermentum ut. Suspendisse faucibus nibh odio, a vehicula eros pharetra in. Maecenas  ullamcorper commodo rutrum. In iaculis lectus vel augue eleifend dignissim. Aenean viverra semper sollicitudin.</p>
							</div>
							<footer class="clearfix">
								<div class="tags pull-left"><i class="icon-tags"></i> <a href="#">tag 1</a>, <a href="#">tag 2</a>, <a href="#">long tag 3</a></div>
								<div class="link pull-right"><i class="icon-link"></i><a href="#">Voir plus More</a></div>
							</footer>
						</article>
						<!-- blogpost end -->									
					</div>
					<!-- masonry grid item end -->
					<!-- masonry grid item start -->
					<div class="masonry-grid-item col-sm-6 col-md-4">
						<!-- blogpost start -->
						<article class="blogpost shadow light-gray-bg bordered">
							<div class="overlay-container">
								<img src="/images/blog-2.jpg" alt="">
								<a class="overlay-link" href="blog-post.html"><i class="fa fa-link"></i></a>
							</div>
							<header>
								<h2><a href="blog-post.html">Titre de l'article</a></h2>
								<div class="post-info">
									<span class="post-date">
										<i class="icon-calendar"></i>
										<span class="day">10</span>
										<span class="month">May 2018</span>
									</span>
									<span class="submitted"><i class="icon-user-1"></i> by <a href="#">John Doe</a></span>
									<span class="comments"><i class="icon-chat"></i> <a href="#">22 comments</a></span>
								</div>
							</header>
							<div class="blogpost-content">
								<p>Mauris dolor sapien, malesuada at interdum ut, hendrerit eget lorem. Nunc interdum mi neque, et  sollicitudin purus fermentum ut. Suspendisse faucibus nibh odio, a vehicula eros pharetra in. Maecenas  ullamcorper commodo rutrum. In iaculis lectus vel augue eleifend dignissim. Aenean viverra semper sollicitudin.</p>
							</div>
							<footer class="clearfix">
								<div class="tags pull-left"><i class="icon-tags"></i> <a href="#">tag 1</a>, <a href="#">tag 2</a>, <a href="#">long tag 3</a></div>
								<div class="link pull-right"><i class="icon-link"></i><a href="#">Voir plus More</a></div>
							</footer>
						</article>
						<!-- blogpost end -->									
					</div>
					<!-- masonry grid item end -->
					<!-- masonry grid item start -->
					<div class="masonry-grid-item col-sm-6 col-md-4">
						<!-- blogpost start -->
						<article class="blogpost shadow light-gray-bg bordered">
							<div class="overlay-container">
								<img src="/images/blog-2.jpg" alt="">
								<a class="overlay-link" href="blog-post.html"><i class="fa fa-link"></i></a>
							</div>
							<header>
								<h2><a href="blog-post.html">Titre de l'article</a></h2>
								<div class="post-info">
									<span class="post-date">
										<i class="icon-calendar"></i>
										<span class="day">10</span>
										<span class="month">May 2018</span>
									</span>
									<span class="submitted"><i class="icon-user-1"></i> by <a href="#">John Doe</a></span>
									<span class="comments"><i class="icon-chat"></i> <a href="#">22 comments</a></span>
								</div>
							</header>
							<div class="blogpost-content">
								<p>Mauris dolor sapien, malesuada at interdum ut, hendrerit eget lorem. Nunc interdum mi neque, et  sollicitudin purus fermentum ut. Suspendisse faucibus nibh odio, a vehicula eros pharetra in. Maecenas  ullamcorper commodo rutrum. In iaculis lectus vel augue eleifend dignissim. Aenean viverra semper sollicitudin.</p>
							</div>
							<footer class="clearfix">
								<div class="tags pull-left"><i class="icon-tags"></i> <a href="#">tag 1</a>, <a href="#">tag 2</a>, <a href="#">long tag 3</a></div>
								<div class="link pull-right"><i class="icon-link"></i><a href="#">Voir plus More</a></div>
							</footer>
						</article>
						<!-- blogpost end -->									
					</div>
					<!-- masonry grid item end -->
					<!-- masonry grid item start -->
					<div class="masonry-grid-item col-sm-6 col-md-4">
						<!-- blogpost start -->
						<article class="blogpost shadow light-gray-bg bordered">
							<div class="overlay-container">
								<img src="/images/blog-2.jpg" alt="">
								<a class="overlay-link" href="blog-post.html"><i class="fa fa-link"></i></a>
							</div>
							<header>
								<h2><a href="blog-post.html">Titre de l'article</a></h2>
								<div class="post-info">
									<span class="post-date">
										<i class="icon-calendar"></i>
										<span class="day">10</span>
										<span class="month">May 2018</span>
									</span>
									<span class="submitted"><i class="icon-user-1"></i> by <a href="#">John Doe</a></span>
									<span class="comments"><i class="icon-chat"></i> <a href="#">22 comments</a></span>
								</div>
							</header>
							<div class="blogpost-content">
								<p>Mauris dolor sapien, malesuada at interdum ut, hendrerit eget lorem. Nunc interdum mi neque, et  sollicitudin purus fermentum ut. Suspendisse faucibus nibh odio, a vehicula eros pharetra in. Maecenas  ullamcorper commodo rutrum. In iaculis lectus vel augue eleifend dignissim. Aenean viverra semper sollicitudin.</p>
							</div>
							<footer class="clearfix">
								<div class="tags pull-left"><i class="icon-tags"></i> <a href="#">tag 1</a>, <a href="#">tag 2</a>, <a href="#">long tag 3</a></div>
								<div class="link pull-right"><i class="icon-link"></i><a href="#">Voir plus More</a></div>
							</footer>
						</article>
						<!-- blogpost end -->									
					</div>
					<!-- masonry grid item end -->
					<!-- masonry grid item start -->
					<div class="masonry-grid-item col-sm-6 col-md-4">
						<!-- blogpost start -->
						<article class="blogpost shadow light-gray-bg bordered">
							<div class="overlay-container">
								<img src="/images/blog-2.jpg" alt="">
								<a class="overlay-link" href="blog-post.html"><i class="fa fa-link"></i></a>
							</div>
							<header>
								<h2><a href="blog-post.html">Titre de l'article</a></h2>
								<div class="post-info">
									<span class="post-date">
										<i class="icon-calendar"></i>
										<span class="day">10</span>
										<span class="month">May 2018</span>
									</span>
									<span class="submitted"><i class="icon-user-1"></i> by <a href="#">John Doe</a></span>
									<span class="comments"><i class="icon-chat"></i> <a href="#">22 comments</a></span>
								</div>
							</header>
							<div class="blogpost-content">
								<p>Mauris dolor sapien, malesuada at interdum ut, hendrerit eget lorem. Nunc interdum mi neque, et  sollicitudin purus fermentum ut. Suspendisse faucibus nibh odio, a vehicula eros pharetra in. Maecenas  ullamcorper commodo rutrum. In iaculis lectus vel augue eleifend dignissim. Aenean viverra semper sollicitudin.</p>
							</div>
							<footer class="clearfix">
								<div class="tags pull-left"><i class="icon-tags"></i> <a href="#">tag 1</a>, <a href="#">tag 2</a>, <a href="#">long tag 3</a></div>
								<div class="link pull-right"><i class="icon-link"></i><a href="#">Voir plus More</a></div>
							</footer>
						</article>
						<!-- blogpost end -->									
					</div>
					<!-- masonry grid item end -->

					
				</div>
				<!-- masonry grid end -->

			</div>
			<!-- main end -->

		</div>
	</div>
</section>
<!-- main-container end -->
