---
layout: default
---

<!-- banner start -->
<!-- ================ -->
<div class="banner default-translucent-bg" style="background-image:url('/images/portfolio-1.jpg');background-position:50% 0;">
	<!-- breadcrumb start -->
	<!-- ================ -->
	<div class="breadcrumb-container">
		<div class="container">
			<ol class="breadcrumb">
				<li><i class="fa fa-home pr-10"></i><a class="link-dark" href="index.html">Home</a></li>
				<li class="active">Departement</li>
			</ol>
		</div>
	</div>
	<!-- breadcrumb end -->
	<div class="container">
		<div class="row">
			<div class="col-md-8 text-center col-md-offset-2 pv-20">
				<h1 class="title object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">Nom du Departement</h1>
				<div class="separator object-non-visible mt-10" data-animation-effect="fadeIn" data-effect-delay="100"></div>
				<p class="text-center object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi perferendis magnam ea necessitatibus, officiis voluptas odit! Aperiam omnis, cupiditate laudantium velit nostrum, exercitationem accusamus, possimus soluta illo deserunt tempora qui.</p>
			</div>
		</div>
	</div>
</div>
<!-- banner end -->

<!-- main-container start -->
<!-- ================ -->
<section class="main-container">

	<div class="container">
		<div class="row">

			<!-- main start -->
			<!-- ================ -->
			<div class="main col-md-12">

				<!-- page-title start -->
				<!-- ================ -->
				<h1 class="page-title">Nom du Departement</h1>
				<div class="separator-2"></div>
				<!-- page-title end -->
				<div class="row">
					<div class="col-sm-4">
						<div class="image-box team-member shadow mb-20">
							<div class="overlay-container overlay-visible">
								<img src="/images/team-member-4.jpg" alt="" style="width: 360px; height: 360px">
								<a href="/images/team-member-4.jpg" class="popup-img overlay-link" title="John Doe"><i class="icon-plus-1"></i></a>
								<div class="overlay-bottom">
									<div class="text">
										<h3 class="title margin-clear">Joseph Ndiaye</h3>
										<p class="margin-clear">Directeur</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-sm-5">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus nam, vitae autem quis, deserunt pariatur! At, atque inventore.</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam esse laudantium maiores aperiam illo fugit laboriosam velit repellendus quod cumque ea vero vitae quo enim fugiat itaque harum assumenda aut quis, dolore. Sit reiciendis eligendi, recusandae eaque est optio reprehenderit!</p>
						<div class="progress style-2 dark">
							<span class="text"></span>
							<div class="progress-bar progress-bar-white" role="progressbar" data-animate-width="95%">
								<span class="label object-non-visible" data-animation-effect="fadeInLeftSmall" data-effect-delay="1000">Mathematiques</span>
							</div>
						</div>
						<div class="progress style-2 dark">
							<span class="text"></span>
							<div class="progress-bar progress-bar-white" role="progressbar" data-animate-width="85%">
								<span class="label object-non-visible" data-animation-effect="fadeInLeftSmall" data-effect-delay="1000">Analyse</span>
							</div>
						</div>
						<div class="progress style-2 dark">
							<span class="text"></span>
							<div class="progress-bar progress-bar-white" role="progressbar" data-animate-width="95%">
								<span class="label object-non-visible" data-animation-effect="fadeInLeftSmall" data-effect-delay="1000">Algebre</span>
							</div>
						</div>
						<div class="progress style-2 dark">
							<span class="text"></span>
							<div class="progress-bar progress-bar-white" role="progressbar" data-animate-width="80%">
								<span class="label object-non-visible" data-animation-effect="fadeInLeftSmall" data-effect-delay="1000">Finances</span>
							</div>
						</div>
					</div>
					<div class="col-sm-3 col-lg-offset-1">
						<h3 class="title">Nous joindre directement</h3>
						<ul class="list-icons">
							<li><i class="fa fa-phone pr-10 text-default"></i> +00 1234567890</li>
							<li><i class="fa fa-mobile pr-10 text-default"></i> +00 1234567890</li>
							<li><a href="mailto:info@janedoe.com"><i class="fa fa-envelope-o pr-10"></i>info@johndoe.com</a></li>
						</ul>
						<h3>Suivez-nous</h3>
						<div class="separator-2"></div>
						<a target="_blank" href="https://www.linkedin.com" class="btn btn-animated linkedin btn-sm">Linkedin<i class="pl-10 fa fa-linkedin"></i></a>
						<!--<h3>Voir notre portfolio<1h3>
						<a class="btn btn-gray collapsed btn-animated" data-toggle="collapse" href="#collapseContent" aria-expanded="false" aria-controls="collapseContent">Cliquez ici <i class="fa fa-plus"></i></a>-->
					</div>
				</div>

			</div>
			<!-- main end -->

		</div>
	</div>
</section>
<!-- main-container end -->

<!-- section start -->
<!-- ================ -->
<section class="pv-20 light-gray-bg clearfix">
	<div class="container">
		<h3>Derniers <strong>Projets</strong></h3>
		<div class="separator-2 mb-20"></div>
		<div class="image-box style-3-b">
			<div class="row">
				<div class="col-sm-6 col-md-3">
					<div class="overlay-container">
						<img src="/images/portfolio-1.jpg" alt="">
						<div class="overlay-to-top">
							<p class="small margin-clear"><em>Some info <br> Lorem ipsum dolor sit</em></p>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-9">
					<div class="body">
						<h3 class="title">Titre du Projet</h3>
						<p class="small mb-10"><i class="icon-calendar"></i> Feb, 2015 <i class="pl-10 icon-tag-1"></i> Mathematiques</p>
						<div class="separator-2"></div>
						<p class="mb-10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque ipsam nihialal. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam laudantium, provident culpa saepe.</p>
						<a href="#" class="btn btn-default btn-sm btn-hvr hvr-shutter-out-horizontal margin-clear">Voir plus<i class="fa fa-arrow-right pl-10"></i></a>
					</div>
				</div>
			</div>
		</div>
		<div class="image-box style-3-b">
			<div class="row">
				<div class="col-sm-6 col-md-3">
					<div class="overlay-container">
						<img src="/images/portfolio-1.jpg" alt="">
						<div class="overlay-to-top">
							<p class="small margin-clear"><em>Some info <br> Lorem ipsum dolor sit</em></p>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-9">
					<div class="body">
						<h3 class="title">Titre du Projet</h3>
						<p class="small mb-10"><i class="icon-calendar"></i> Feb, 2015 <i class="pl-10 icon-tag-1"></i> Mathematiques</p>
						<div class="separator-2"></div>
						<p class="mb-10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque ipsam nihialal. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam laudantium, provident culpa saepe.</p>
						<a href="#" class="btn btn-default btn-sm btn-hvr hvr-shutter-out-horizontal margin-clear">Voir plus<i class="fa fa-arrow-right pl-10"></i></a>
					</div>
				</div>
			</div>
		</div>
		<div class="image-box style-3-b">
			<div class="row">
				<div class="col-sm-6 col-md-3">
					<div class="overlay-container">
						<img src="/images/portfolio-1.jpg" alt="">
						<div class="overlay-to-top">
							<p class="small margin-clear"><em>Some info <br> Lorem ipsum dolor sit</em></p>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-9">
					<div class="body">
						<h3 class="title">Titre du Projet</h3>
						<p class="small mb-10"><i class="icon-calendar"></i> Feb, 2015 <i class="pl-10 icon-tag-1"></i> Mathematiques</p>
						<div class="separator-2"></div>
						<p class="mb-10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque ipsam nihialal. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam laudantium, provident culpa saepe.</p>
						<a href="#" class="btn btn-default btn-sm btn-hvr hvr-shutter-out-horizontal margin-clear">Voir plus<i class="fa fa-arrow-right pl-10"></i></a>
					</div>
				</div>
			</div>
		</div>
		<!-- pagination start -->
							<nav>
								<ul class="pagination">
									<li><a aria-label="Previous"><i class="fa fa-angle-left"></i></a></li>
									<li class="active"><a>1</a></li>
									<li><a>2</a></li>
									<li><a>3</a></li>
									<li><a>4</a></li>
									<li><a>5</a></li>
									<li><a aria-label="Next"><i class="fa fa-angle-right"></i></a></li>
								</ul>
							</nav>
							<!-- pagination end -->

	</div>
</section>