---
layout: default
---
<!-- banner start -->
      <!-- ================ -->
      <div class="banner clearfix">
        <!-- slideshow start -->
        <!-- ================ -->
        <div class="slideshow">
          
          <!-- slider revolution start -->
          <!-- ================ -->
          <div class="slider-banner-container">
            <div class="slider-banner-fullwidth">
              <ul class="slides">
                <!-- slide 1 start -->
                <!-- ================ -->
                <li data-transition="fade" data-slotamount="4" data-masterspeed="500" data-saveperformance="on" data-title="">
                
                <!-- main image -->
                <img src="/images/education-slider.jpg" alt="slidebg1" data-bgrepeat="no-repeat" data-bgfit="cover" style="background-position: 80% 80%;">
                
                <!-- LAYER NR. 1 -->
                <div class="tp-caption fade fadeout dark-translucent-bg caption-box text-left"
                  style="background-color: rgba(0, 0, 0, 0.45);"
                  data-x="right"
                  data-y="bottom" 
                  data-speed="500"
                  data-start="1300"
                  data-easing="easeOutQuad"
                  data-endspeed="600">
                  <h2 class="title"><a href="#" class="link-light">Un site web adapté a l'image de votre ecole ou université</a></h2>
                  <div class="separator-2 light clearfix hidden-xs"></div>
                  <p class="hidden-xs">Ceci represente juste une maquette qui peut etre adapté selon les besoins de votre ecole, université, centre de formation ou autre structure académique</p>
                  <div class="text-right hidden-xs"><a class="btn btn-small btn-default margin-clear" href="/about" target="blank">En savoir plus</a></div>
                </div>

                </li>
                <!-- slide 1 end -->

                <!-- slide 2 start -->
                <!-- ================ -->
                <li data-transition="fade" data-slotamount="4" data-masterspeed="500" data-saveperformance="on" data-title="">
                
                <!-- main image -->
                <img src="/images/education-slider.jpg" alt="slidebg2" data-bgrepeat="no-repeat" data-bgfit="cover" style="background-position: 80% 60%;">

                <!-- LAYER NR. 1 -->
                <div class="tp-caption fade fadeout dark-translucent-bg caption-box text-left"
                  style="background-color: rgba(0, 0, 0, 0.45);"
                  data-x="right"
                  data-y="bottom" 
                  data-speed="500"
                  data-start="1300"
                  data-easing="easeOutQuad"
                  data-endspeed="600">
                  <h2 class="title"><a href="#" class="link-light">Maquette realisee par revovision </a></h2>
                  <div class="separator-2 light clearfix hidden-xs"></div>
                  <p class="hidden-xs">Ceci represente juste une maquette qui peut etre adapté selon les besoins de votre ecole, université, centre de formation ou autre structure académique</p>
                  <div class="text-right hidden-xs"><a class="btn btn-small btn-default margin-clear" href="/about" target="blank">En savoir plus</a></div>
                </div>

                </li>
                <!-- slide 2 end -->
              </ul>
              <div class="tp-bannertimer"></div>
            </div>
          </div>
          <!-- slider revolution end -->

        </div>
        <!-- slideshow end -->
      </div>
      <!-- banner end -->

      <div id="page-start"></div>

      <!-- section about start -->
      <!-- ================ -->
      <div class="pv-40 footer-top">
        <div class="container">
          <h3 class="logo-font">University <span class="text-default">College</span></h3>
          <div class="separator-2"></div>
          <div class="row mb-20">
            <div class="col-lg-6">
              <img src="/images/education-about.jpg" alt="">
            </div>
            <div class="col-lg-6">
              <h3>Depuis <span class="text-default">1980</span></h3>
              <p><em>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente unde id porro saepe enim ipsam, architecto dicta iste adipisci eligendi aliquid cupiditate molestias corrupti, suscipit corporis exercitationem quis alias dolor.</em></p>
              <p><em>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo culpa cupiditate iure deserunt eveniet reprehenderit placeat, magnam voluptas magni maiores numquam cum veritatis enim quam deleniti repudiandae perferendis! Dolores, illo.</em></p>
              <h3>Nous <span class="text-default">joindre</span></h3>
              <ul class="social-links default circle animated-effect-1">
                <li class="facebook"><a target="_blank" href="http://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
                <li class="twitter"><a target="_blank" href="http://www.twitter.com"><i class="fa fa-twitter"></i></a></li>
                <li class="googleplus"><a target="_blank" href="http://plus.google.com"><i class="fa fa-google-plus"></i></a></li>
                <li class="skype"><a target="_blank" href="http://www.skype.com"><i class="fa fa-skype"></i></a></li>
                <li class="instagram"><a target="_blank" href="http://www.instagram.com"><i class="fa fa-instagram"></i></a></li>
                <li class="linkedin"><a target="_blank" href="http://www.linkedin.com"><i class="fa fa-linkedin"></i></a></li>
                <li class="pinterest"><a target="_blank" href="http://www.pinterest.com"><i class="fa fa-pinterest"></i></a></li>
                <li class="flickr"><a target="_blank" href="http://www.flickr.com"><i class="fa fa-flickr"></i></a></li>
              </ul>
            </div>
          </div>
          
        </div>
      </div>

      <!-- section departements start -->
      <!-- ================ -->
      <section class="section pv-40 light-gray-bg clearfix">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <h3 class="title text-center">Etudier a <span class="text-default">College University</span></h3>
              <div class="separator"></div>
              <p class="lead text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo dignissimos, adipisci ipsa aut.</p>
            </div>
          </div>
        </div>
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-2">
              <div class="image-box shadow text-center mb-20">
                <div class="overlay-container overlay-visible">
                  <img src="/images/education-4.jpg" alt="">
                  <a href="/departement" target="blank" class="overlay-link"><i class="fa fa-link"></i></a>
                  <div class="overlay-bottom">
                    <div class="text">
                      <p class="lead margin-clear mobile-visible">Specialité 1</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-2">
              <div class="image-box shadow text-center mb-20">
                <div class="overlay-container overlay-visible">
                  <img src="/images/education-4.jpg" alt="">
                  <a href="/departement" target="blank" class="overlay-link"><i class="fa fa-link"></i></a>
                  <div class="overlay-bottom">
                    <div class="text">
                      <p class="lead margin-clear mobile-visible">Specialité 2</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-2">
              <div class="image-box shadow text-center mb-20">
                <div class="overlay-container overlay-visible">
                  <img src="/images/education-4.jpg" alt="">
                  <a href="/departement" target="blank" class="overlay-link"><i class="fa fa-link"></i></a>
                  <div class="overlay-bottom">
                    <div class="text">
                      <p class="lead margin-clear mobile-visible">Specialité 3</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-2">
              <div class="image-box shadow text-center mb-20">
                <div class="overlay-container overlay-visible">
                  <img src="/images/education-4.jpg" alt="">
                  <a href="/departement" target="blank" class="overlay-link"><i class="fa fa-link"></i></a>
                  <div class="overlay-bottom">
                    <div class="text">
                      <p class="lead margin-clear mobile-visible">Specialité 4</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-2">
              <div class="image-box shadow text-center mb-20">
                <div class="overlay-container overlay-visible">
                  <img src="/images/education-4.jpg" alt="">
                  <a href="/departement" target="blank" class="overlay-link"><i class="fa fa-link"></i></a>
                  <div class="overlay-bottom">
                    <div class="text">
                      <p class="lead margin-clear mobile-visible">Specialité 5</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-2">
              <div class="image-box shadow text-center mb-20">
                <div class="overlay-container overlay-visible">
                  <img src="/images/education-4.jpg" alt="">
                  <a href="/departement" target="blank" class="overlay-link"><i class="fa fa-link"></i></a>
                  <div class="overlay-bottom">
                    <div class="text">
                      <p class="lead margin-clear mobile-visible">Specialité 6</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- section end -->

      <!-- section blog start -->
      <!-- ================ -->
      <section class="section clearfix">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <h3>Evenements <span class="text-default">à venir</span></h3>
              <div class="separator-2"></div>
              <div class="block">
                <div class="media margin-clear">
                  <div class="media-left">
                    <div class="overlay-container">
                      <img src="/images/gallery-3.jpg" alt="blog-thumb" style="width: 127px;">
                      <a href="#" class="overlay-link small"><i class="fa fa-link"></i></a>
                    </div>
                  </div>
                  <div class="media-body">
                  <h3 class="media-heading"><a href="#">Forum internationale pour l'emploi </a></h3>
                    
                    <p class="small"><i class="fa fa-calendar pr-10"></i>Mar 23, 2018</p>
                    <a href="#">En savoir plus</a>
                  </div>
                  <hr>
                </div>
                <div class="media margin-clear">
                  <div class="media-left">
                    <div class="overlay-container">
                      <img src="/images/gallery-1.jpg" alt="blog-thumb" style="width: 127px;">
                      <a href="#" class="overlay-link small"><i class="fa fa-link"></i></a>
                    </div>
                  </div>
                  <div class="media-body">
                    <h3 class="media-heading"><a href="#">Journee internationale de la science</a></h3>
                    <p class="small"><i class="fa fa-calendar pr-10"></i>Mar 22, 2018</p>
                    <a href="#">En savoir plus</a>
                  </div>
                  <hr>
                </div>
                <div class="media margin-clear">
                  <div class="media-left">
                    <div class="overlay-container">
                      <img src="/images/gallery-3.jpg" alt="blog-thumb" style="width: 127px;">
                      <a href="#" class="overlay-link small"><i class="fa fa-link"></i></a>
                    </div>
                  </div>
                  <div class="media-body">
                    <h3 class="media-heading"><a href="#">Forum sur les metiers de l'avenir </a></h3>
                    <p class="small"><i class="fa fa-calendar pr-10"></i>Mar 21, 2018</p>
                    <a href="#">En savoir plus</a>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="col-md-6">
              <h3>Nos articles les<span class="text-default"> plus vues</span></h3>
              <div class="separator-2"></div>
              <div class="owl-carousel content-slider-with-controls-autoplay">
                <div class="overlay-container overlay-visible">
                  <img src="/images/portfolio-2.jpg" alt="" style="width: 555px; height: 340px;">
                  <div class="overlay-bottom hidden-xs">
                    <div class="text">
                      <h3 class="title">Résultats des examens de fin d'année 2018</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum optio odio, recusandae qui minima eveniet cumque praesentium expedita sint accusamus itaque.</p>
                    </div>
                  </div>
                  <a href="/images/portfolio-2.jpg" class="popup-img overlay-link" title="image title"><i class="icon-plus-1"></i></a>
                </div>
                <div class="overlay-container overlay-visible">
                  <img src="/images/portfolio-1.jpg" alt="" style="width: 555px; height: 340px;">
                  <div class="overlay-bottom hidden-xs">
                    <div class="text">
                      <h3 class="title">Arrivée de la fibre optique</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum optio odio, recusandae qui minima eveniet cumque praesentium expedita sint accusamus itaque.</p>
                    </div>
                  </div>
                  <a href="/images/portfolio-1.jpg" class="popup-img overlay-link" title="image title"><i class="icon-plus-1"></i></a>
                </div>
                <div class="overlay-container overlay-visible">
                  <img src="/images/portfolio-3.jpg" alt="" style="width: 555px; height: 340px;">
                  <div class="overlay-bottom hidden-xs">
                    <div class="text">
                      <h3 class="title">Les pronostics du tournoi inter-écoles</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum optio odio, recusandae qui minima eveniet cumque praesentium expedita sint accusamus itaque.</p>
                    </div>
                  </div>
                  <a href="/images/portfolio-3.jpg" class="popup-img overlay-link" title="image title"><i class="icon-plus-1"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- section end -->

      