---
layout: default
---
<!-- banner start -->
      <!-- ================ -->
      <div class="banner clearfix">
        <!-- slideshow start -->
        <!-- ================ -->
        <div class="slideshow">
          
          <!-- slider revolution start -->
          <!-- ================ -->
          <div class="slider-banner-container">
            <div class="slider-banner-fullwidth">
              <ul class="slides">
                <!-- slide 1 start -->
                <!-- ================ -->
                <li data-transition="fade" data-slotamount="4" data-masterspeed="500" data-saveperformance="on" data-title="">
                
                <!-- main image -->
                <img src="images/education-slider-slide-1.jpg" alt="slidebg1" data-bgposition="center top"  data-bgrepeat="no-repeat" data-bgfit="cover">
                
                <!-- LAYER NR. 1 -->
                <div class="tp-caption fade fadeout dark-translucent-bg caption-box text-left"
                  style="background-color: rgba(0, 0, 0, 0.45);"
                  data-x="right"
                  data-y="bottom" 
                  data-speed="500"
                  data-start="1300"
                  data-easing="easeOutQuad"
                  data-endspeed="600">
                  <h2 class="title"><a href="#" class="link-light">L'education par exellence</a></h2>
                  <div class="separator-2 light clearfix hidden-xs"></div>
                  <p class="hidden-xs">Voluptatem ad provident non repudiandae beatae cupiditate amet reiciendis lorem ipsum dolor sit amet, consectetur.</p>
                  <div class="text-right hidden-xs"><a class="btn btn-small btn-default margin-clear" href="/about" target="blank">En savoir plus</a></div>
                </div>

                </li>
                <!-- slide 1 end -->

                <!-- slide 2 start -->
                <!-- ================ -->
                <li data-transition="fade" data-slotamount="4" data-masterspeed="500" data-saveperformance="on" data-title="">
                
                <!-- main image -->
                <img src="images/education-slider-slide-2.jpg" alt="slidebg2" data-bgposition="center top"  data-bgrepeat="no-repeat" data-bgfit="cover">

                <!-- LAYER NR. 1 -->
                <div class="tp-caption fade fadeout dark-translucent-bg caption-box text-left"
                  style="background-color: rgba(0, 0, 0, 0.45);"
                  data-x="right"
                  data-y="bottom" 
                  data-speed="500"
                  data-start="1300"
                  data-easing="easeOutQuad"
                  data-endspeed="600">
                  <h2 class="title"><a href="#" class="link-light">Etudier a college university </a></h2>
                  <div class="separator-2 light clearfix hidden-xs"></div>
                  <p class="hidden-xs">Voluptatem ad provident non repudiandae beatae cupiditate amet reiciendis lorem ipsum dolor sit amet, consectetur.</p>
                  <div class="text-right hidden-xs"><a class="btn btn-small btn-default margin-clear" href="/about" target="blank">En savoir plus</a></div>
                </div>

                </li>
                <!-- slide 2 end -->
              </ul>
              <div class="tp-bannertimer"></div>
            </div>
          </div>
          <!-- slider revolution end -->

        </div>
        <!-- slideshow end -->
      </div>
      <!-- banner end -->

      <div id="page-start"></div>

      <!-- section start -->
      <!-- ================ -->
      <section class="section clearfix">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <h3>Derniere <span class="text-default">Nouvelles</span></h3>
              <div class="separator-2"></div>
              <div class="block">
                <div class="media margin-clear">
                  <div class="media-left">
                    <div class="overlay-container">
                      <img class="media-object" src="images/medical-blog-thumb-1.jpg" alt="blog-thumb">
                      <a href="blog-post.html" class="overlay-link small"><i class="fa fa-link"></i></a>
                    </div>
                  </div>
                  <div class="media-body">
                    <h5 class="media-heading"><a href="blog-post.html">Lorem ipsum dolor sit amet</a></h5>
                    <p class="small"><i class="fa fa-calendar pr-10"></i>Mar 23, 2015</p>
                    <p class="margin-clear small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt corrupti, cum exercitationem.</p>
                    <a href="#">En savoir plus</a>
                  </div>
                  <hr>
                </div>
                <div class="media margin-clear">
                  <div class="media-left">
                    <div class="overlay-container">
                      <img class="media-object" src="images/medical-blog-thumb-2.jpg" alt="blog-thumb">
                      <a href="blog-post.html" class="overlay-link small"><i class="fa fa-link"></i></a>
                    </div>
                  </div>
                  <div class="media-body">
                    <h5 class="media-heading"><a href="blog-post.html">Perspiciatis laborum necess</a></h5>
                    <p class="small"><i class="fa fa-calendar pr-10"></i>Mar 22, 2015</p>
                    <p class="margin-clear small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt corrupti, cum exercitationem.</p>
                    <a href="#">En savoir plus</a>
                  </div>
                  <hr>
                </div>
                <div class="media margin-clear">
                  <div class="media-left">
                    <div class="overlay-container">
                      <img class="media-object" src="images/medical-blog-thumb-3.jpg" alt="blog-thumb">
                      <a href="blog-post.html" class="overlay-link small"><i class="fa fa-link"></i></a>
                    </div>
                  </div>
                  <div class="media-body">
                    <h5 class="media-heading"><a href="blog-post.html">Cum eligendi nisi rerum porro</a></h5>
                    <p class="small"><i class="fa fa-calendar pr-10"></i>Mar 21, 2015</p>
                    <p class="margin-clear small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt corrupti, cum exercitationem.</p>
                    <a href="#">En savoir plus</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <h3><span class="text-default">Evenements a venir</span></h3>
              <div class="separator-2"></div>
              <div class="small"><i class="fa fa-calendar pr-10"></i>Oct 23, 2015 <i class="fa fa-clock-o pl-10 pr-10"></i>10:25 am</div>
              <h5><a href="blog-post.html">Lorem ipsum dolor sit amet</a></h5>
              <hr>
              <div class="small"><i class="fa fa-calendar pr-10"></i>Oct 23, 2015 <i class="fa fa-clock-o pl-10 pr-10"></i>9:55 am</div>
              <h5><a href="blog-post.html">Consectetur adipisicing elit</a></h5>
              <hr>
              <div class="small"><i class="fa fa-calendar pr-10"></i>Oct 23, 2015 <i class="fa fa-clock-o pl-10 pr-10"></i>11:05 am</div>
              <h5><a href="blog-post.html">Dignissimos, sapiente enim</a></h5>
              <hr>
              <div class="small"><i class="fa fa-calendar pr-10"></i>Oct 23, 2015 <i class="fa fa-clock-o pl-10 pr-10"></i>07:45 pm</div>
              <h5><a href="blog-post.html">Architecto dignissimos labore</a></h5>
              <hr>
              <a href="#" class="btn btn-default"><i class="fa fa-calendar pr-10"></i> Voir plus</a>
            </div>
            <div class="col-md-3">
              <h3>les plus <span class="text-default">vues</span></h3>
              <div class="separator-2"></div>
              <div class="owl-carousel content-slider-with-large-controls-autoplay dark-controls light-gray-bg buttons-hide">             
                <div class="image-box style-2">
                  <div class="overlay-container overlay-visible">
                    <img src="images/education-1.jpg" alt="">
                    <a href="#" class="overlay-link"><i class="fa fa-link"></i></a>
                    <div class="overlay-bottom">
                      <div class="text">
                        <p class="lead margin-clear text-left mobile-visible">Remise de diplomes</p>
                      </div>
                    </div>
                  </div>
                  <div class="body padding-horizontal-clear">
                    <p>Lorem ipsum dolor sit amet, consectetur adipis elit. Aliquam atque ipsam nihil dood truck quinoa.</p>
                    <a class="link-dark" href="page-services.html">En savoir plus<i class="pl-5 fa fa-angle-double-right"></i></a>
                  </div>
                </div>
                <div class="image-box style-2">
                  <div class="overlay-container overlay-visible">
                    <img src="images/education-2.jpg" alt="">
                    <a href="#" class="overlay-link"><i class="fa fa-link"></i></a>
                    <div class="overlay-bottom">
                      <div class="text">
                        <p class="lead margin-clear text-left mobile-visible">Une succes-story</p>
                      </div>
                    </div>
                  </div>
                  <div class="body padding-horizontal-clear">
                    <p>Lorem ipsum dolor sit amet, consectetur adipis elit. Aliquam atque ipsam nihil dood truck quinoa.</p>
                    <a class="link-dark" href="page-services.html">En savoir plus<i class="pl-5 fa fa-angle-double-right"></i></a>
                  </div>
                </div>
                <div class="image-box style-2">
                  <div class="overlay-container overlay-visible">
                    <img src="images/education-3.jpg" alt="">
                    <a href="#" class="overlay-link"><i class="fa fa-link"></i></a>
                    <div class="overlay-bottom">
                      <div class="text">
                        <p class="lead margin-clear text-left mobile-visible">Lorem Ipsum sit amt</p>
                      </div>
                    </div>
                  </div>
                  <div class="body padding-horizontal-clear">
                    <p>Lorem ipsum dolor sit amet, consectetur adipis elit. Aliquam atque ipsam nihil dood truck quinoa.</p>
                    <a class="link-dark" href="page-services.html">En savoir plus<i class="pl-5 fa fa-angle-double-right"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- section end -->

      <!-- section start -->
      <!-- ================ -->
      <section class="section pv-40 light-gray-bg clearfix">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <h3 class="title text-center">Etudier a <span class="text-default">College University</span></h3>
              <div class="separator"></div>
              <p class="lead text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo dignissimos, adipisci ipsa aut.</p>
            </div>
          </div>
        </div>
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-2">
              <div class="image-box shadow text-center mb-20">
                <div class="overlay-container overlay-visible">
                  <img src="images/education-4.jpg" alt="">
                  <a href="#" class="overlay-link"><i class="fa fa-link"></i></a>
                  <div class="overlay-bottom">
                    <div class="text">
                      <p class="lead margin-clear mobile-visible">Admissions</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-2">
              <div class="image-box shadow text-center mb-20">
                <div class="overlay-container overlay-visible">
                  <img src="images/education-5.jpg" alt="">
                  <a href="#" class="overlay-link"><i class="fa fa-link"></i></a>
                  <div class="overlay-bottom">
                    <div class="text">
                      <p class="lead margin-clear mobile-visible">Education</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-2">
              <div class="image-box shadow text-center mb-20">
                <div class="overlay-container overlay-visible">
                  <img src="images/education-6.jpg" alt="">
                  <a href="#" class="overlay-link"><i class="fa fa-link"></i></a>
                  <div class="overlay-bottom">
                    <div class="text">
                      <p class="lead margin-clear mobile-visible">Departements</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-2">
              <div class="image-box shadow text-center mb-20">
                <div class="overlay-container overlay-visible">
                  <img src="images/education-7.jpg" alt="">
                  <a href="#" class="overlay-link"><i class="fa fa-link"></i></a>
                  <div class="overlay-bottom">
                    <div class="text">
                      <p class="lead margin-clear mobile-visible">Librarie</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-2">
              <div class="image-box shadow text-center mb-20">
                <div class="overlay-container overlay-visible">
                  <img src="images/education-8.jpg" alt="">
                  <a href="#" class="overlay-link"><i class="fa fa-link"></i></a>
                  <div class="overlay-bottom">
                    <div class="text">
                      <p class="lead margin-clear mobile-visible">Staff/Faculte</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-2">
              <div class="image-box shadow text-center mb-20">
                <div class="overlay-container overlay-visible">
                  <img src="images/education-9.jpg" alt="">
                  <a href="#" class="overlay-link"><i class="fa fa-link"></i></a>
                  <div class="overlay-bottom">
                    <div class="text">
                      <p class="lead margin-clear mobile-visible">Alumni</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- section end -->